.display{
    background-color: #111111;
    min-height: 95vh;
}
#headshot{
    border-radius: 50%;
    margin: 2vh;
}
.holder{
    margin: auto;
}
.heading{
    text-align: left;
    color: #eeeeee;
}
.header{
    color: #eeeeee;
    text-align: center
}
.icon{
    margin: 1vh;
}
.sect{
    text-align: left;
}