html{
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
.return{
  right: 5%; 
  bottom: 5%; 
  position: fixed; 
  font-size: 24px; 
  padding: 16px; 
  margin: 12px; 
  background-color:#3d88d3; 
  border-radius: 16px; 
  border: none; 
  color: rgb(17, 17, 17); 
  opacity: 1; 
  transition: all 0.5s ease 0s; 
  cursor: pointer; 
  outline: none; 
  z-index: 999;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
