.block{
    background-color: #eeeeee;
    min-height: 100vh;
    box-shadow: 0px 5px 3px #555555;
}
.hold{
    margin: 10vh;
    margin-top: 0vh;
}
.head{
    margin: auto;
    margin-top: 5vh;
}
.heading{
    text-align: left;
}
.lift{
   background-color: #111111; 
   display: flex;
   margin-left: 0vh;
   color: #eeeeee; 
   margin-top: 0vh;

}
.fit{
    display: flex;
    background-color: #111111;
    width: 90%;
    margin: 5%;
    flex-flow: wrap;
}

  
.light{
    color: #111111
}