.display{
    background-color: #111111;
    height: 100vh;
}
#headshot{
    border-radius: 50%;
    margin: 2vh;
}
.holder{
    margin: auto;
}
.header{
    color: #eeeeee;
    text-align: center
}
.icon{
    margin: 1vh;
}